extends ../../layouts/master
block content

  .btn-toolbar(role='toolbar')
    .btn-group(role='group')
      a.btn.btn-default(href='/animals/new'): i.fa.fa-plus

  h3 Animal Listing

  #animals
    each animal in animals
      .animal
        .panel.panel-default
          .panel-heading
            h3.panel-title: a(href='/animals/#{animal._id}')= animal.name
          .panel-body
            dl
              dt Gender
              dd= animal.gender
              dt Age
              dd= animal.age
              dt Species
              dd= animal.species
              dt Breed
              dd= animal.breed
            .photo(style='background-image:url("'+animal.photo+'")')
