extends ../../layouts/master
block content

  .btn-toolbar(role='toolbar')
    .btn-group(role='group')
      a.btn.btn-default(href='/animals/new'): i.fa.fa-plus
    .btn-group(role='group')
      a.btn.btn-default(href='/animals'): i.fa.fa-paw

  h3 Find Animals

  form.form-inline(method='get', action='/animals')
    .form-group
      input#min.form-control.input-sm(type='number', name='min', autofocus=true, placeholder='Min Age')
    .form-group
      input#max.form-control.input-sm(type='number', name='max', placeholder='Max Age')
    .form-group
      input#breed.form-control.input-sm(type='text', name='breed', placeholder='Breed')
    .form-group
      select#gender.form-control.input-sm(name='gender')
        option(value='') Pick Gender
        option(value='male') male
        option(value='female') female
    .form-group
      select#species.form-control.input-sm(name='species')
        option(value='') Pick Species
        option(value='Dog') Dog
        option(value='Cat') Cat
        option(value='Shark') Shark
        option(value='Bird') Bird
        option(value='Walrus') Walrus
    .form-group
      button.btn.btn-primary.btn-sm(type='submit') Filter

  h3 Animal Listing

  #animals
    each animal in animals
      .animal
        .panel.panel-default
          .panel-heading
            h3.panel-title: a(href='/animals/#{animal._id}')= animal.name
          .panel-body
            dl
              dt Gender
              dd= animal.gender
              dt Age
              dd= animal.age
              dt Species
              dd= animal.species
              dt Breed
              dd= animal.breed
            .photo(style='background-image:url("'+animal.photo+'")')
